
<div class="tab-content">
  <div class="tab-pane active" id="Personnel" role="tabpanel" aria-labelledby="Personnel-tab">
      <h4 class="section-title">
          Nhân sự trung tâm
      </h4>
      <div class="personnel-wrap course-content">
          <div class="card-title">Ban điều hành</div>
          <div class="director text-center">
              <a href="#" class="personnel-block" data-toggle="modal" data-target="#personnel-1">
                  <img class="img-fluid" src="./assets/images/chuong.png"
                       alt="Personnel image">
                  <div class="personnel-name">Trần Minh Chương</div>
                  <p class="position">Giám đốc</p>
              </a>
          </div>
          <div class="card-title">Đội ngũ giảng viên</div>
          <div class="row">
              <div class="col-md-4">
                  <a href="#;" class="personnel-block" data-toggle="modal"
                     data-target="#personnel-2">
                      <img class="img-fluid" src="./assets/images/hang.png"
                           alt="Personnel image">
                      <div class="personnel-name">Đặng Thị Thúy Hằng</div>
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="#;" class="personnel-block" data-toggle="modal"
                     data-target="#personnel-3">
                      <img class="img-fluid" src="./assets/images/doan.png"
                           alt="Personnel image">
                      <div class="personnel-name">Lê Công Đoàn</div>
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="#" class="personnel-block" data-toggle="modal"
                     data-target="#personnel-4">
                      <img class="img-fluid" src="./assets/images/sato.png"
                           alt="Personnel image">
                      <div class="personnel-name">Takafumi Sato</div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>