<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head> 
<body> 
    <div class="container">
        <div class="program">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card-wrap">
                        <div class="block-title-wrap">
                            <img src="./assets/images/flower-icon-1.png" alt="flower icon">
                            <h5 class="block-title">Giới thiệu</h5>
                        </div>
                        <ul>
                            <li>
                                <a routerLink="/gioi-thieu/trung-tam-nhat-ban">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Trung tâm Nhật Bản
                                </a>
                            </li>
                            <li>
                                <a routerLink="/gioi-thieu/truong-dai-hoc-quy-nhon">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Trường Đại học Quy Nhơn
                                </a>
                            </li>
                            <li>
                                <a routerLink="/gioi-thieu/quy-nhon-binh-dinh">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Quy Nhơn, Bình Định
                                </a>
                            </li>
                            <li>
                                <a routerLink="/gioi-thieu/nhan-su-trung-tam">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Nhân sự trung tâm
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-wrap">
                        <div class="block-title-wrap">
                            <img src="./assets/images/flower-icon-2.png" alt="flower icon">
                            <h5 class="block-title">Khóa học</h5>
                        </div>
                        <ul>
                            <li>
                                <a routerLink="/khoa-hoc/cac-khoa-tieng-nhat-JLPT">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Các khóa tiếng Nhật JLPT
                                </a>
                            </li>
                            <li>
                                <a routerLink="/khoa-hoc/tieng-nhat-cho-thieu-nhi">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Tiếng Nhật cho thiếu nhi
                                </a>
                            </li>
                            <li>
                                <a routerLink="/khoa-hoc/cac-khoa-ky-nang-mem">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Các khóa kĩ năng mềm
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-wrap">
                        <div class="block-title-wrap pr-65">
                            <img src="./assets/images/flower-icon-1.png" alt="flower icon">
                            <h5 class="block-title">Dịch vụ</h5>
                        </div>
                        <ul>
                            <li>
                                <a [routerLink]="['/dich-vu-doi-tac/tu-van-du-hoc-va-viec-lam']">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Tư vấn du học và việc làm
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/dich-vu-doi-tac/xuat-khau-lao-dong']">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Xuất khẩu lao động
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-wrap">
                        <div class="block-title-wrap">
                            <img src="./assets/images/flower-icon-2.png" alt="flower icon">
                            <h5 class="block-title">Đối tác</h5>
                        </div>
                        <ul>
                            <li>
                                <a [routerLink]="['/dich-vu-doi-tac/du-an']">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Dự án
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/dich-vu-doi-tac/doi-tac']">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Đối tác
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>