   
<div class="container">
    <h4 class="section-title">Doanh nghiệp</h4>
    <div class="course-content pt-4 pb-4">
        <p>...</p>
        <p>-...</p>
        <p>- ....</p>
        <p>- ....</p>
        <p class="mb-5">- ....</p>
        <p>....</p>
        <p>-....</p>
        <p>- ....</p>
        <p class="mb-5">- ....</p>
        <p>* Hồ sơ gửi bản scan theo email:
            <a href="mailto:japancenter@qnu.edu.vn" class="mail">japancenter@qnu.edu.vn</a>
        </p>
        <p>- ...</p>
        <p>- ...</p>
        <p>- ...</p>
    </div>
  </div>