<div class="images-card-wrap section-padding">
  <div class="row">
      <!-- <div class=" col-md-6 col-lg-3 card-wrap" *ngFor="let item of dataFromServer">
          <a class="card" [href]="item.slug">
            <img class="card-img-top"  [src]="img1">
              <div class="card-body">
                  <h4 class="block-title"></h4>
                  <p class="card-title"></p>
              </div>
          </a>
      </div> --> 

      <div class="col-md-6 col-lg-3 card-wrap">
        <a class="card" href="https://japancenter.qnu.edu.vn/tai-sao-chon.html">
            <img class="card-img-top" [src]="img1">
            <div class="card-body">
                <h4 class="block-title">Tại sao chọn</h4>
                <p class="card-title">QNU Japan Center?</p>
            </div>
        </a>
    </div> 

      <div class="col-md-6 col-lg-3 card-wrap">
          <a class="card" href="https://japancenter.qnu.edu.vn/tai-sao-chon.html">
              <img class="card-img-top" [src]="img2">
              <div class="card-body">
                  <h4 class="block-title">Dự án hợp tác</h4>
                  <p class="card-title">Đầy tiềm năng</p>
              </div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 card-wrap">
          <a class="card" href="https://japancenter.qnu.edu.vn/doanh-nghiep-doi-tac/doi-tac.html">
              <img class="card-img-top" [src]="img3">
              <div class="card-body">
                  <h4 class="block-title">Chương trình</h4>
                  <p class="card-title"> Kỹ sư cầu nối</p>
              </div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 card-wrap">
          <a class="card" href="https://japancenter.qnu.edu.vn/tai-sao-chon.html">
              <img class="card-img-top" [src]="img4">
              <div class="card-body">
                  <h4 class="block-title"> Nhiều cơ hội </h4>
                  <p class="card-title"> Việc làm hấp dẫn</p>
              </div>
          </a>
      </div>
  </div>
</div>
<div class="recruitment">
  <div class="announce-wrapper">
      <div id="slider-wrap2" class="banner carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#slider-wrap2" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active" align="center">
                  <img class="img-responsive"
                       src="https://japancenter.qnu.edu.vn/images/home/event-class-openning-2018.jpg"
                       style="height: 310px;" alt="Chiêu sinh 2018">
              </div>
          </div>
      </div>
  </div>
</div> 
