<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div id="bc2" class="btn-group btn-breadcrumb">
            <a href="#" class="btn btn-default"><i class="fa fa-home"></i></a>
            <div class="btn btn-default">...</div>
            <a href="#" class="btn btn-default"><div>label 1. A very very long one to truncate</div></a>
            <a href="#" class="btn btn-default"><div>label 2</div></a>
            <a href="#" class="btn btn-default"><div>label 3</div></a>
            <a href="#" class="btn btn-default"><div>label 4</div></a>
            <a href="#" class="btn btn-default"><div>label 5. A very very long one to truncate</div></a>
            <a href="#" class="btn btn-default"><div>label 6</div></a>
            <a href="#" class="btn btn-default"><div>label 7</div></a>
            <a href="#" class="btn btn-default"><div>label 8</div></a>
        </div>
	</div>

</div>