<footer>
    <div class="container">
      <div class="cards-container">
        <div class="row">
          <div class="col-md-1">
            <a href="#"><img class="logo" [src]='logo' ></a>
          </div>
          <div class="col-md-5">
            <address *ngFor='let info of show'>
              <p>Địa chỉ:{{info.address}}</p>
              <p>Tel:{{info.tel }}</p>
              <p>Email: <a [href]='Email'>japancenter@qnu.edu.vn</a></p>
              <p>Hotline: {{info.hotline}}</p>
            </address>
          </div>
          <div class="col-md-4">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.278702346616!2d109.21900577680366!3d13.758400409432745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316f6cebf252c49f%3A0xa83caa291737172f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBRdXkgTmjGoW4!5e0!3m2!1svi!2sus!4v1521715990197" width="100%" frameborder="0" style="display: block;" allowfullscreen="">
            </iframe>
          </div>
          <div class="col-md-2">
            <div>
              <b><p class="text-QNU">Kết nối QNU-JC</p></b>
              <div>
                <a href="https://www.facebook.com/JapanCenterQNU" target="_blank">
                  <img src="./assets/images/facebook.png" class="mr-2 social-icon" id="facebook-icon" alt="facebook" (mouseenter)="changeIcon('facebook')" (mouseleave)="changeIcon('facebook-normal')">
                </a>
                <a href="https://www.youtube.com/channel/UCe3LVWYpXNH0QM7DNz7Gy0Q" target="_blank">
                  <img src="./assets/images/youtube.png" class="mr-2 social-icon" id="youtube-icon" alt="youtube" (mouseenter)="changeIcon('youtube')" (mouseleave)="changeIcon('youtube-normal')">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      Copyright @ 2018. All Rights Reserved
    </div>
  </footer>
  <!-- Button Back To Top -->
  <div id="backToTop" title="Về đầu trang">
    <img src="./assets/images/back-to-top.png" alt="Back to top">
  </div>
