

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

body {
  min-height: 1200px;

}

nav {
  background: brown;
  min-height: 50px;
}

span {
  cursor: pointer;
  outline: none;
}

.logo {
  float: right;
  margin-top: -2.5em;
  cursor: pointer;
}

.login {
  cursor: pointer;
}

.name {
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.name-center {
  line-height: 0.3;
  margin-left: 60px;
  margin-top: -43px;
}

.name a {
  text-decoration: none;
  color: black;
}

.sub-name a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.flag {
  cursor: pointer;
  margin-right: 10px;
}

#menu-language {
  right: 0em;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown-content a:hover {
  background-color: #F5F5F5;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content {
  background-color: ;
}

#navbarSupportedContent ul li a {
  color: white;
}

#navbarSupportedContent ul li a:hover {
  color: black;
}

#navbarSupportedContent .dropdown .dropdown-content a {
  color: black;
}

#navbarSupportedContent .dropdown .dropdown-content a:hover {
  color: red;
}

#navbarSupportedContent {
  margin-left: 52px;
  font-size: 14px;

}

#logo-hide {
  display: none;
  position: fixed;
  z-index: 1010;
  border: none;
  outline: none;
  cursor: pointer;
  top: -0.2em;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

.dropdown[_ngcontent-c1] .dropdown-content[_ngcontent-c1] {
  background-color: #F8F8FF;

}

@media only screen and (min-width: 600px) {
  .navbar-nav {
    float: left;
  }
}

@media only screen and(max-width: 450px) {
  .navbar-nav {
    height: 70%;
  }
}
