<div class="container">
  <div class="banner">
    <img class="img-responsive" src="/assets/images/tai-sao-chon-banner.jpg" alt="Course banner">
    <div class="banner-bottom">
        <img class="img-fluid " src="/assets/images/banner-bottom.png" alt="bottom banner">
        <h1>
            <strong>Tại sao chọn QNU Japan Center?</strong>
        </h1>
    </div>
  </div>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="index.html">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Tại sao chọn QNU Japan Center?</li>
      </ol>
  </nav>
  <hr>


    <h5>Đang cập nhật........................</h5>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

