* {
    box-sizing: border-box;
} 
#slider-wrap {
    max-height: 500px;
}
#slider-wrap .banner-bottom h1 {
    text-align: left;
}
.banner {
    position: relative;
}
.carousel-item.active {
    display: block;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 3em;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.banner .banner-bottom h1 {
    position: absolute;
    bottom: 0;
    left: 100px;
    color: white;
    font-family: "Lemonada", sans-serif;
    font-size: 30px;
}
.banner-bottom {
    position: absolute;
    bottom: -10px;
    left: -30px;
} 
.img-fluid {
    max-width: 100%;
    height: auto; 
}
strong {
    font-weight: bold;
    position: relative;
    margin-left: 3em;
    top: -1.25em;
    color: white;
    font-size: 30px;
    font-family: "Lemonada", sans-serif ;
}

@media only screen and (max-width: 767px) {
    .banner .banner-bottom {
        left: 0 !important;
        width: 100% !important;
    }

    .banner .banner-bottom h1 {
        left: initial;
        text-align: center !important;
        font-size: 16px;
        width: 100%;
        background-color: #e11f26;
        line-height: 1.2;
        padding: 7px 0;
    }

    .banner .banner-bottom > img {
        display: none !important;
    }

    .d-md-block {
        display: block!important;
    }
}
   /*CSS newspage*/

body {
 font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #fafafa;
}
  
.course{
    margin: 5px;
}
ul, li {
    margin: 0;
    padding: 0;}
li {
    list-style: none;
    display: block;
    cursor: pointer;
}
a,a:visited{
    color: black;
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}

.breadcrumb {
    margin-top: 20px;
    font-size: 14px;
    margin-left: -1px;
    background-color: white;
    background-color: transparent;
    font-family: Muli, sans-serif;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb-item.active a {
    color: #6c757d;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.post-highlight {
  border: solid 1px #e5e5e5;
}
.section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card-wrap {
    margin-bottom: 30px;
  }
  
  .card {
    display: block;
    height: 100%;
    border-radius: 0;
  }
  .card:hover {
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    text-decoration: none;
  }
  .card .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .card-body .card-text {
    line-height: 1.71;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  .card-body .card-title{
    color: #000;
  }
  
  .card-title{
    font-size: 24px;
    font-weight: 400;
  }
  .card-title > b:hover{
    color:#6c757d;
  }
  .text-muted {
    color: #6c757d!important;
    font-size: 12px;}
  
  .read-more {
    color: #e11f26;
    font-size: 12px;
    font-weight: 600;
  }
  .btn-outline {
    border: 1px solid #e11f26;
    border-radius: 17px;
    color: #e11f26;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .btn-outline:hover, .btn-outline:focus {
    background-color: #e11f26;
    color: #fff;
    box-shadow: none;
  }
  .switch{
    margin-bottom: 20px;
    margin-left: 32em;
  }
  