<!-- create slide -->
<div id="slider-wrap" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="banner">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-responsive" src="./assets/images/news-and-events.png" alt="First slide">
            </div>
        </div>

        <!-- Banner bottom -->
        <div class="banner-bottom">
            <img class="img-fluid" src="./assets/images/banner-bottom.png" alt="bottom banner">
            <h1>
                <b>Tin tức và sự kiện</b>
            </h1>
        </div>
    </div>
</div>

<!-- creat breadscrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="http://localhost:4200/">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="#">Tin tức & sự kiện</a>
            </li>
        </ol>
    </nav>
    <!-- news main -->
    <a class="row mr-0 ml-0 post-highlight"
       href="tin-tuc-va-su-kien/dinh-huong-nghe-nghiep-va-co-hoi-viec-lam-voi-TMA-solutions.html">
        <!-- <a href="tin-tuc-va-su-kien/dinh-huong-nghe-nghiep-va-co-hoi-viec-lam-voi-TMA-solutions.html"> -->
        <div class="col-lg-7 pl-0 pr-0">
            <img src="./assets/images/news-main.png" class="img-fluid d-block" alt="news-main"/>
        </div>
        <div class="col-lg-5 card-body">
            <h5 class="card-title">
                <b>Định hướng nghề nghiệp và cơ hội việc làm với TMA Solutions</b>
            </h5>
            <div class="card-info">
                <p class="card-text">
                    <i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
                    <span>Thời gian: 05/05/2018 (08:00 - 17:30)</span>
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker mr-2"></i>
                    <span> Địa điểm: Hội trường B, Phòng kỹ năng (nhà 4 tầng), trường ĐH Quy Nhơn, 170 An Dương Vương, TP. Quy Nhơn</span>
                </p>
            </div>
            <p class="card-text">
        <span>
          <i class="fa fa-user-o mr-2"></i>
        </span> Đối tượng: Sinh viên ngành Công nghệ thông tin, Kỹ thuật điện - Điện tử, Kỹ thuật Điện tử, truyền thông,
                Toán và các
                ngành có liên quan; các đối tượng đang tìm kiếm việc làm ngành CNTT tại địa phương...
                <span class="read-more">
          Đọc tiếp
        </span>
            </p>
        </div>
        <!-- </a> -->

    </a>
    <br>
    <!-- page 1 -->
    <div class="card-container pb-5" *ngIf="page=='one'">
        <div class="row">
            <div class="col-md-6 col-lg-4 card-wrap">
                <a href="tin-tuc-va-su-kien/dang-ky-hoc-vien.html" class="card">
                    <img class="card-img-top" src="./assets/images/event1.jpg" alt="Card img cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            QNU Japan Center - Đăng ký học viên
                        </h5>
                        <p class="card-text">Trung tâm Ngôn ngữ và Văn hóa Nhật Bản Trường Đại học Quy Nhơn thường xuyên
                            nhận học viên các lớp tiếng Nhật. Hiện nay ...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a href="tin-tuc-va-su-kien/bup-be-thang-nam-samurai.html" class="card">
                    <img class="card-img-top" src="./assets/images/event2.jpg" alt="Card img cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            Búp bê tháng Năm Samurai
                        </h5>
                        <p class="card-text">Trung tâm Nhật Bản chân thành cảm ơn FPT Japan đã tặng Búp bê Samurai cùng
                            với những lời chúc tốt đẹp ngày 4/8 vừa qua. Trong tháng 8, thỏa thuận về việc QNU Japan
                            Center là đối tác chiến lược Chương trình 10K BrSE của FPT Software sẽ được ký kết....
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card" href="tin-tuc-va-su-kien/ngai-dai-su-nhat-ban-umeda-kunio-du-khai-truong.html">
                    <img class="card-img-top" src="./assets/images/event3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ngài Đại sứ Nhật Bản Umeda Kunio dự khai trương Trung tâm Ngôn ngữ và Văn
                            hóa Nhật Bản</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">27/04/2018</h6>
                        <p class="card-text">Chiều ngày 27/4/2018, Ngài Umeda Kunio – Đại sứ đặc mệnh toàn quyền Nhật
                            Bản tại Việt Nam...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card"
                   href="tin-tuc-va-su-kien/hieu-truong-dh-quy-nhon-tham-du-hoi-nghi-xuc-tien-dau-tu-binh-dinh-tai-nhat-ban.html">
                    <img class="card-img-top" src="./assets/images/event4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hiệu trưởng ĐH Quy Nhơn tham dự Hội nghị xúc tiến đầu tư Bình Định tại
                            Nhật Bản</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">07/12/2017</h6>
                        <p class="card-text">PGS.TS. Đỗ Ngọc Mỹ đã có bài phát biểu, giới thiệu về trưởng Đại học Quy
                            Nhơn, về nguồn...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card"
                   href="tin-tuc-va-su-kien/truong-dh-quy-nhon-dong-hanh-cung-tinh-binh-dinh-trong-thu-hut-dau-tu-nhat-ban.html">
                    <img class="card-img-top" src="./assets/images/event5.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Trường ĐH Quy Nhơn đồng hành cùng tỉnh Bình Định trong thu hút đầu tư
                            Nhật Bản</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">06/10/2017</h6>
                        <p class="card-text">PNhận lời mời của UBND tỉnh Bình Định, PGS.TS. Đỗ Ngọc Mỹ, Hiệu trưởng
                            Trường ĐH Quy Nhơn đã tham gia đoàn đại biểu
                            tỉnh Bình Định...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card" href="tin-tuc-va-su-kien/anh-dao-no-vuon-haiku.html">
                    <img class="card-img-top" src="./assets/images/event6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Anh đào nở vườn Haiku</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">30/09/2017</h6>
                        <p class="card-text">Biểu tượng tam tuyệt tuyết – nguyệt – hoa là cái đẹp tuyệt vời của bốn mùa
                            trôi chảy ở xứ sở Phù Tang mà con cháu
                            Nữ thần Mặt trời cảm...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!-- page 2 -->
    <div class="card-container pb-5" *ngIf="page=='two'">
        <div class="row">
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card" href="tin-tuc-va-su-kien/xuan-sang-khong-chi-co-hoa-anh-dao.html">
                    <img class="card-img-top" src="./assets/images/event7.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Xuân sang... không chỉ có hoa anh đào</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">15/09/2017</h6>
                        <p class="card-text">Mùa xuân sang có hoa anh đào (Lời một bài hát) Ấy là loài hoa không chỉ là
                            tín hiệu thẩm mĩ của mùa xuân mà còn là
                            biểu tượng của một vùng...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card" href="tin-tuc-va-su-kien/anh-dao-no-vuon-haiku.html">
                    <img class="card-img-top" src="./assets/images/event6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Anh đào nở vườn Haiku</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">30/09/2017</h6>
                        <p class="card-text">Biểu tượng tam tuyệt tuyết – nguyệt – hoa là cái đẹp tuyệt vời của bốn mùa
                            trôi chảy ở xứ sở Phù Tang mà con cháu
                            Nữ thần Mặt trời cảm...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 card-wrap">
                <a class="card" href="tin-tuc-va-su-kien/xuan-sang-khong-chi-co-hoa-anh-dao.html">
                    <img class="card-img-top" src="./assets/images/event7.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Xuân sang... không chỉ có hoa anh đào</h5>
                        <h6 class="card-subtitle text-muted mt-3 mb-3">15/09/2017</h6>
                        <p class="card-text">Mùa xuân sang có hoa anh đào (Lời một bài hát) Ấy là loài hoa không chỉ là
                            tín hiệu thẩm mĩ của mùa xuân mà còn là
                            biểu tượng của một vùng...
                            <span class="read-more">Đọc tiếp</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <!-- create Pagination -->
    <div class="switch">
        <nav aria-label="Search results pages">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="page='one'">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="page='two'">2</a>
                </li>
            </ul>
        </nav>
    </div>