<!-- <div class="container"> -->
  <div id="slider-wrap" class="carousel slide" data-ride="carousel" data-interval="1000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#slider-wrap" data-slide-to="0" class="active"></li>
      <li data-target="#slider-wrap" data-slide-to="1"></li>
    </ol>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-responsive" src="./assets/images/home-slider-1.png" alt="First slide">
      </div>

      <div class="carousel-item">
        <img class="img-responsive" src="./assets/images/home-slider-2.png" alt="Second slide">
      </div>
    </div>

    <!-- Banner bottom -->
    <div class="banner-bottom">
      <img class="img-fluid" src="./assets/images/banner-bottom.png" alt="bottom banner">
    </div>
  </div>
<!-- </div> -->
 
