

<div class="tab-content">
  <div class="tab-pane active" id="JCenter" role="tabpanel" aria-labelledby="JCenter-tab">
      <h4 class="section-title">
          Trường Đại học Quy Nhơn
      </h4>
      <div class="course-content pt-3">
          <p class="mb-4">
              Trường Đại học Quy Nhơn - tiền thân là cơ sở Đại học Sư phạm Quy Nhơn được thành lập năm 1977 (theo
              Quyết định số 1842/QĐ
              ngày 21/12/1977 của Bộ trưởng Bộ Giáo dục).
          </p>
          <p class="mb-3">
              Tọa lạc trên vùng đất giàu truyền thống lịch sử và văn hóa, Trường Đại học Quy Nhơn đã trải qua 40 năm
              xây dựng và phát triển,
              từng bước lớn mạnh không ngừng; quy mô và lĩnh vực đào tạo ngày càng mở rộng và ổn định,
              đóng góp to lớn trong việc đào tạo, cung cấp nguồn nhân lực chất lượng cao cho các lĩnh
              vực giáo dục, lĩnh vực khoa học tự nhiên và xã hội, kinh tế, kỹ thuật và công nghệ, góp
              phần to lớn vào sự nghiệp giáo dục và đào tạo, phát triển kinh tế - xã hội của khu vực
              Nam Trung bộ - Tây Nguyên và cả nước.
          </p>
          <img src="./assets/images/truong-dh-quy-nhon.png" class="img-fluid mb-3"
               alt="Truong dai hoc Quy Nhon"/>
          <p class="mb-4">
              Hiện nay Trường đã đào tạo 03 ngành tiến sĩ, 17 ngành thạc sĩ và 45 ngành cử nhân thuộc các nhóm ngành
              sư phạm, khoa học,
              kinh tế và kỹ thuật.
          </p>
          <p class="mb-4">
              Để nâng cao chất lượng đào tạo cho quy mô hơn 14.000 sinh viên/năm bao gồm sinh viên nước ngoài, đội ngũ
              giảng viên của Trường
              không ngừng được nâng cao, gồm 572 giảng viên với gần 150 GS, PGS, TS; 427 ThS; 118 giảng
              viên đang là NCS trong và ngoài nước.
          </p>
          <p class="mb-4">
              Trường Đại học Quy Nhơn chú trọng quốc tế hóa trường đại học, không ngừng mở rộng và phát triển quan hệ
              hợp tác với nhiều
              đối tác nước ngoài, đặc biệt là châu Âu, Đông Á và ASEAN.
          </p>
          <p>
              Gắn với định hướng phát triển của tỉnh Bình Định, Trường đang nỗ lực đưa ngôn ngữ và văn hóa Nhật Bản
              đến với sinh viên,
              học sinh và công chúng địa phương, nhằm đáp ứng yêu cầu nguồn nhân lực đặc thù của các
              nhà đầu tư Nhật Bản, các doanh nghiệp trong nước đang và sẽ đầu tư tại tỉnh, và tiềm
              năng xuất khẩu lao động sang thị trường Nhật Bản.

          </p>
      </div>
  </div>
</div>