
<div class="tab-content">
  <div class="tab-pane active" id="Province" role="tabpanel" aria-labelledby="Province-tab">
      <h4 class="section-title">
          Quy Nhơn, Bình Định
      </h4>
      <div class="course-content pt-3">
          <p class="mb-4">
              Bình Định là tỉnh vùng duyên hải Nam Trung Bộ Việt Nam, với thủ phủ là thành phố Quy Nhơn. Dân số toàn
              tỉnh hơn 1,5 triệu
              người, cách Hà Nội khoảng 1.000km, cách TP.HCM gần 700 km. Quy Nhơn, thành phố xinh đẹp
          </p>
          <p class="mb-4">
              nằm bên bờ Biển Đông xinh đẹp, được coi là cửa ngỏ của khu vực Tây Nguyên, đang là điểm đến mới và hấp
              dẫn với du khách và
              các nhà đầu tư. Có thể đến Quy Nhơn bằng đường bộ, đường thủy, đường hàng không rất thuận
              tiện.
          </p>
          <img src="./assets/images/quy-nhon-binh-dinh.png" class="img-fluid mb-3" alt=""/>
          <p class="mb-4">
              Trong tương lai gần, cảng biển Nhơn Hội thuộc khu kinh tế Nhơn Hội được xây dựng sẽ hoàn chỉnh hệ thống
              hạ tầng giao thông
              vận tải tạo cho Quy Nhơn nói riêng và Bình ĐỊnh nói chung có lợi thế vượt trội trong
              giao lưu khu vực và quốc tế.
          </p>
          <p class="mb-4">
              Ngoài ra, Sân bay Phù Cát đang được nâng cấp thành sân bay quốc tế, các chuyến bay thẳng từ Nhật Bản và
              Hàn Quốc cũng đang
              được xem xét đầu tư.
          </p>
          <p>
              Tỉnh Bình Định đã xác định định hướng phát triển kinh tế, văn hóa - xã hội bền vững, biến địa phương
              thành điển hình đô thị
              khoa học, du lịch bền vững và là vùng đất thân thiện, trù phú cho các nhà đầu tư nước
              ngoài, đặc biệt là Nhật Bản.
          </p>
      </div>
  </div>
</div>