
   
<div class="container">
  <h4 class="section-title">Trung tâm Nhật Bản</h4>
  <div class="course-content pt-4 pb-4">
      <p>Trung tâm thường xuyên tuyển dụng giáo viên, trợ giảng tiếng Nhật, và cộng tác viên hoạt
          động văn hóa Nhật Bản.</p>
      <p>- Đối với giáo viên: Có bằng cử nhân chính quy tiếng Nhật hoặc chứng chỉ JLPT N2 hoặc tương
          đương trở lên.</p>
      <p>- Đối với trợ giảng: Có chứng chỉ JLPT N3 hoặc tương đương trở lên.</p>
      <p>- Đối với cộng tác viên: Có năng lực giao tiếp tiếng Nhật.</p>
      <p class="mb-5">- Yêu thích giảng dạy tiếng Nhật và văn hóa Nhật Bản. Sẵn sàng tham gia các dự án tiếng Nhật,
          nghiên cứu, tham gia các sự kiện văn hóa và các vấn đề liên quan.</p>
      <p>* Quyền lợi:</p>
      <p>- Có chế độ đãi ngộ tốt.</p>
      <p>- Có cơ hội tiếp cận và phát triển môi trường Nhật Bản tại Trường ĐH Quy Nhơn và địa phương.</p>
      <p class="mb-5">- Phát triển nghề nghiệp chuyên môn.</p>
      <p>* Hồ sơ gửi bản scan theo email:
          <a href="mailto:japancenter@qnu.edu.vn" class="mail">japancenter@qnu.edu.vn</a>
      </p>
      <p>- Sơ yếu lý lịch ngắn gọn</p>
      <p>- Văn bằng, chứng chỉ có liên quan</p>
      <p>- 01 hình toàn thân, 01 hình thẻ</p>
  </div>
</div>
    