
<div class="tab-content">
  <div class="tab-pane active">
      <h4 class="section-title">
          Trung tâm Nhật Bản
      </h4>
      <div class="course-content pt-3">
          <p class="mb-4">
              Hiện nay, ngoài Trường Đại học Quy Nhơn hàng năm đào tạo nguồn nhân lực lớn về công nghệ sinh học, điện
              tử, xây dựng, phần
              mềm, v.v… đồng thời các trường nghề và cao đẳng tại tỉnh Bình Định cũng đào tạo nhiều
              nhân lực về y tế, điều dưỡng, cơ khí v.v.., là những ngành nghề Nhật Bản đang có nhu
              cầu nhập khẩu. Do đó, nhu cầu dạy và học tiếng Nhật là rất lớn, phục vụ cho mục tiêu
              nâng cao chất lượng nguồn nhân lực được tạo ra tại địa phương và phổ biến tiếng Nhật
              cho cộng đồng.
          </p>
          <img src="./assets/images/trung-tam-nhat-ban-1.png" class="mb-3 img-fluid"
               alt="Trung tam nhat ban"/>
          <p class="mb-4">
              Ngoài ra, văn hóa Nhật Bản đang ngày càng được quan tâm tại tỉnh Bình Định và khu vực miền Trung – Tây
              Nguyên. Tuy nhiên
              hiện nay các hoạt động liên quan đến văn hóa Nhật Bản vẫn còn thiếu vắng tại khu vực
              này.
          </p>
          <p class="mb-3">
              Với những yếu tố này, Trường Đại học Quy Nhơn đã thành lập Trung tâm Ngôn ngữ và Văn hóa Nhật Bản nhằm
              mục đích chính là
              đào tạo tiếng Nhật cho nhiều đối tượng, bồi dưỡng kỹ năng làm việc trong môi trường Nhật
              Bản, và tổ chức các hoạt động giao lưu, quảng bá văn hóa Nhật Bản tại địa phương, là
              đơn vị kết nối các đối tác Nhật Bản và Việt Nam nhằm tăng cường hơn nữa hợp tác trong
              trao đổi học thuật, giao lưu văn hóa giữa hai quốc gia, góp phần nâng cao chất lượng
              nguồn nhân lực và quảng bá ngôn ngữ, văn hóa Nhật tại địa phương.
          </p>
          <div class="row text-center">
              <div class="col-md-6">
                  <img src="./assets/images/trung-tam-nhat-ban-2.png" class="img-fluid"
                       alt="Trung tam nhat ban"/>
              </div>
              <div class="col-md-6">
                  <img src="./assets/images/trung-tam-nhat-ban-3.png" class="img-fluid"
                       alt="Trung tam nhat ban"/>
              </div>
          </div>
      </div>
  </div>
  <div class="tab-pane" id="QNUniversity" role="tabpanel" aria-labelledby="QNUniversity-tab">
      <h4 class="section-title">
          Trường Đại học Quy Nhơn
      </h4>
  </div>
</div>